In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('/storage/cynthiawu/trans_eQTL/GTex.v8/Run3_070221/GTEx_Analysis_v8_eQTL/Adipose_Subcutaneous.v8.signif_variant_gene_pairs.txt.gz', sep='\t', usecols=[0])

In [6]:
data['variant_id']

0               chr1_64764_C_T_b38
1              chr1_665098_G_A_b38
2              chr1_666028_G_A_b38
3              chr1_108826_G_C_b38
4              chr1_126108_G_A_b38
                    ...
2930365     chrX_155636194_A_G_b38
2930366     chrX_155656217_A_G_b38
2930367    chrX_155682745_A_AT_b38
2930368     chrX_155687184_G_T_b38
2930369     chrX_155693713_T_A_b38
Name: variant_id, Length: 2930370, dtype: object

In [8]:
variants = set(data['variant_id'])

In [9]:
len(variants)

1502610

In [17]:
variants = set()
with open('/storage/cynthiawu/trans_eQTL/GTex.v8/Run3_070221/GTEx_Analysis_v8_eQTL/variant_gene_pair_fnames.txt') as f:
    for line in f:
        data=pd.read_csv(f'/storage/cynthiawu/trans_eQTL/GTex.v8/Run3_070221/GTEx_Analysis_v8_eQTL/{line.strip()}', sep='\t', usecols=[0])
        variants.update(set(data['variant_id']))
#         break

In [13]:
data

                      variant_id
0             chr1_64764_C_T_b38
1            chr1_665098_G_A_b38
2            chr1_666028_G_A_b38
3            chr1_108826_G_C_b38
4            chr1_126108_G_A_b38
...                          ...
2930365   chrX_155636194_A_G_b38
2930366   chrX_155656217_A_G_b38
2930367  chrX_155682745_A_AT_b38
2930368   chrX_155687184_G_T_b38
2930369   chrX_155693713_T_A_b38

[2930370 rows x 1 columns]

In [18]:
len(variants)

4632457

In [27]:
f = open('/storage/cynthiawu/trans_eQTL/GTex.v8/Run3_070221/GTEx_Analysis_v8_eQTL/cis-eqtl_set.txt', 'w')
for v in variants:
    if (v[:4] != 'chrX'):
        f.write(f'{v}\n')
f.close()

In [2]:
import numpy as np

In [31]:
?np.loadtxt

In [3]:
data = np.loadtxt('/storage/cynthiawu/trans_eQTL/GTex.v8/Run4_080221/chr1/GTEx_Analysis_2017-06-05_v8_WholeGenomeSeq_866Indiv_filter3_snplist_chr1.012', delimiter='\t')

In [4]:
data

array([[  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  1.,   0.,   1., ...,   0.,   0.,   0.],
       [  2.,   0.,   1., ...,   0.,   1.,   0.],
       ...,
       [863.,   0.,   0., ...,   0.,   1.,   0.],
       [864.,   0.,   1., ...,   0.,   1.,   0.],
       [865.,   0.,   0., ...,   0.,   2.,   0.]])

In [25]:
data = np.delete(data, 0, axis=1)

In [8]:
data.shape

(866, 401117)

In [14]:
indv = []
with open('/storage/cynthiawu/trans_eQTL/GTex.v8/Run4_080221/chr1/GTEx_Analysis_2017-06-05_v8_WholeGenomeSeq_866Indiv_filter3_snplist_chr1.012.indv', 'r') as f:
    for line in f:
        indv.append(line.strip())

In [18]:
pos = []
with open('/storage/cynthiawu/trans_eQTL/GTex.v8/Run4_080221/chr1/GTEx_Analysis_2017-06-05_v8_WholeGenomeSeq_866Indiv_filter3_snplist_chr1.012.pos', 'r') as f:
    for line in f:
        pos.append(line.strip().replace('\t', '_'))

In [21]:
import pandas as pd

In [27]:
genotype = pd.DataFrame(data.T, index=pos, columns=indv)

In [22]:
?pd.DataFrame

In [28]:
genotype.to_csv('/storage/cynthiawu/trans_eQTL/GTex.v8/Run4_080221/chr1/GTEx_Analysis_2017-06-05_v8_WholeGenomeSeq_866Indiv_filter3_snplist_chr1_genotype', sep='\t')

In [9]:
import pandas as pd
from collections import Counter

In [5]:
data = pd.read_csv('/storage/cynthiawu/BE_tool/ERCC2/ERCC2_R33A_vepformat.csv', sep='\t', header=None)

In [6]:
data

      0         1         2    3  4                              5
0    19  45350364  45350364  C/T  +    ACAGAACAAGTATCAACAAGCGG_sg1
1    19  45350520  45350520  C/T  +    GCCCCCAACACAGGCACAGCTGG_sg2
2    19  45350521  45350521  C/T  +    GCCCCCAACACAGGCACAGCTGG_sg2
3    19  45350539  45350539  C/T  -    GTCACCAGCTGTGCCTGTGTTGG_sg3
4    19  45350538  45350538  C/T  -    GTCACCAGCTGTGCCTGTGTTGG_sg3
..   ..       ...       ...  ... ..                            ...
322  19  45369136  45369136  C/T  -  GGAGTCCTGGAGATGCCCTCAGG_sg221
323  19  45369100  45369100  C/T  -  ATCCCTGTTGGCCCTGATCATGG_sg222
324  19  45370227  45370227  C/T  -  GCTCAACGTGGACGGGCTCCTGG_sg223
325  19  45370178  45370178  C/T  -  CCGAGCAGTTCTCCTACATGCGG_sg224
326  19  45370178  45370178  C/T  -  CGAGCAGTTCTCCTACATGCGGG_sg225

[327 rows x 6 columns]

In [11]:
count = Counter(data[5])

In [14]:
unique = [k for k, v in count.items() if v == 1]

In [15]:
len(unique)

133

In [ ]:
ACAGAACAAGTATCAACAAGCGG_sg1

In [20]:
sgRNAs = []
for seq in unique:
    sgRNA = (seq[:20])
    if sgRNA[0] != 'G':
        sgRNA = 'g'+sgRNA
    sgRNA = 'ccgc' + sgRNA
    sgRNAs.append(sgRNA)

In [22]:
len(sgRNAs)

133

In [24]:
pos = []
with open('/storage/cynthiawu/BE_tool/ERCC2/ERCC2_R33A_sgRNAseq.csv', 'w') as f:
    for seq in sgRNAs:
        f.write(f'{seq}\n')